# ============================================================
# Required
# ============================================================

# TON Testnet
TON_MNEMONIC=""

# EVM
EVM_PRIVATE_KEY=0x
ETHEREUM_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
# Add an RPC URL for each additional EVM chain you want to deploy or send from
# ARBITRUM_SEPOLIA_RPC_URL=https://arbitrum-sepolia-rpc.publicnode.com

# ============================================================
# Optional
# ============================================================

# Override default TON RPC (https://ton-testnet.api.onfinality.io/public)
TON_RPC_URL=
# Only required when using a toncenter RPC URL (https://testnet.toncenter.com/api/v2/jsonRPC)
TON_CENTER_API_KEY=

# Required only for EVM contract verification (npx hardhat verify)
ETHERSCAN_API_KEY=