# ============================================================
# Required
# ============================================================

# TON Testnet
TON_MNEMONIC=""
TON_ROUTER=
TON_CHAIN_SELECTOR=1399300952838017768

# Sepolia
EVM_PRIVATE_KEY=0x
ETHEREUM_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ETHEREUM_SEPOLIA_CHAIN_SELECTOR=16015286601757825753
ETHEREUM_SEPOLIA_ROUTER=

# ============================================================
# Optional
# ============================================================

# Override default TON RPC (https://testnet.toncenter.com/api/v2/jsonRPC)
TON_RPC_URL=
TON_API_KEY=

# Required only for contract verification (npx hardhat verify)
ETHERSCAN_API_KEY=

# Required only when using LINK as fee token
ETHEREUM_SEPOLIA_LINK_TOKEN=
